.program {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left 267px top 209px, right 308px top 64px, right 266px bottom 29px;
  background-image: url('/chess/answers/circle.svg'), url('/chess/answers/triangle.svg'), url('/chess/answers/cross.svg');
}

.programContainer {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1280px;
}

.programWrapper {
  padding: 30px 0 100px 0;
}

.programTitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 94%;
  color: var(--black);
}

.programDescr {
  margin-bottom: 17px;
  max-width: 979px;
  font-size: 18px;
  line-height: 144%;
  color: var(--black);
}