.videoWrapper { 
  position: relative;
  width: 780px;
}

.video {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 20px;
  background: var(--dark-blue);
  opacity: 0.6;
  z-index: 5;
}

.videoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.triangleIcon {
  position: absolute;
  top: -68px;
  left: -96px;
}

.line1Icon {
  position: absolute;
  left: -250px;
  bottom: 24px;
}

.line2Icon {
  position: absolute;
  top: -58px;
  right: -270px;
}

.crossIcon {
  position: absolute;
  right: -130px;
  bottom: -81px;
}